
:root {
    --f-small:9px;
    --f-mid:15px;
    --f-large:25px;
    --clr-sil:rgb(171, 171, 171);
    --clr-bl:black;
    --clr-pink:rgb(149, 47, 64);
    --avg-padding:1.4rem;
    --clr-grey:  #a2a0a0;
}
body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.all-cont {
    display: grid;
    grid-template-columns: 2fr 3fr 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    text-transform: capitalize;
}
.main-pic {
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    z-index: 0;
}
.main-pic > img {
    display: block;
    width: 100%;
    height: 100%;
    grid-row: 1 / 4 ; 
}

.logo-cont {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    z-index: 1;
    justify-self: end;
    width:100%;
    height: fit-content;
    position: relative;
    bottom: 30%;
    text-align: center;  
    background-color: var(--clr-sil);  
    color: white;
    opacity: 0.5;
    padding: 1rem;
}
.logo-cont > * {
    font-size: var(--f-large);
}

.logo-c {
    font-size: var(--f-large);
}
.contribution-txt {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
    z-index: 1;
    font-size: var(--f-small);
    text-align: center;
    align-self: end;
    padding: 0.3rem;
    padding-bottom: 1rem;
    color: white;
}

.contribution-txt > a:link {
    color: white;
    text-decoration: none;
}
.contribution-txt > a:hover {
   color: var(--clr-pink);
}
.main-txt {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    align-self: center;
    font-size: var(--f-mid);
    padding: var(--avg-padding);
    margin-top: var(--avg-padding);
}

form {
    grid-column: 2 / -1;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(4, 1fr);
    box-shadow: 0 1px 5px var(--clr-sil), 0 -1px 3px var(--clr-sil);
    padding: var(--avg-padding);
    gap:2px; 
}
form > p {
    font-size: var(--f-large); 
}
form > div > * {
    display: grid;
}
form > .form-section-one {
   grid-row: 2 / -1;
   grid-column: 1 / 2; 
}

form > .form-section-two {
    grid-row: 2 / -1;
   grid-column: 2 / 3;
}
.submit-btn {
    background-color: var(--clr-grey);
    color: white;
    font-weight: bold;
    font-size: var(--f-mid);
    text-transform: capitalize;
    border: 1px var(--clr-grey) solid;
    margin: var(--avg-padding);
    width: fit-content;
    height: fit-content;
    border-radius: 0.5rem;
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
}

#btn-log {
    grid-row: 3 / -1;
    grid-column: 2 / 3;
    margin-top: 10%;
    position: relative;
    top: 100%;
    right: 50%;
}
.log-in {
    display: flex;
    gap:  5px;
    flex-wrap: wrap;
    margin-left: var(--avg-padding);
}

@media (max-width:550px) {
    .all-cont {
        grid-template-columns: 2fr 4fr;
        grid-template-rows: 1fr 2fr 1fr;
    }
    .submit-btn {
        padding: 0.3rem 2.5rem 0.3rem 2.5rem;

    }
    #btn-log {
        position: relative;
        right: 100%;
    }
}